body{
    color: rgb(189, 33, 189);   
    background-color: rgb(223, 161, 192);
    font-style: italic;
    text-align: center;
    z-index: 10;
    position: relative;

    
}

header{
font-style: italic;
text-align: center;
border-color: white;
background-color: rgb(255, 226, 255);
border-radius: 50px;
border: 10px 200px 20px 200px;
margin:20px 200px 40px 200px ;
border-style: double;
display: inline-block;
}


img{
    width: inherit;
}
h3{
    color: white;
    text-align: center;
    margin:10px 200px 10px 300px ;
}
nav ul li {
    padding: 4px ;
    border-color: white;
    border-radius: 30px;
    background-color: rgb(255, 191, 253);
    border: 10px 100px 10px 100px;
    margin:10px 200px 10px 300px ;
 border-style: double;
display: ruby-base;
}
.topten nav ol li{
    padding: 4px ;
    margin:10px 200px 5px 300px ;
    text-align: center;
display: list-item;
border: 10px 100px 10px 100px;
border-style: double;
color: white;
border-color: rgb(189, 33, 189);
background-color:rgba(214, 31, 214, 0.582) ;
border-style: ridge;
border-radius: 15px;
}
footer{
    margin:20px 200px 40px 200px ;

}