body{
     width: 1200px;
    height: 810px;
    color: rgb(255, 255, 255);   
    background-image: url(../img/dz.jpeg);
    background-size: cover;
    font-style: italic;
    text-align: center;
    z-index: 10;
    position: relative;
    display: grid; 
    margin-right: 50px;
    margin-left: 0px;

    
}

header h1,h2{
width :500px;
height: 70px;
font-style: italic;
text-align: center;
text-shadow: 1px 1px 2px rgba(240, 162, 205, 0.5), 0 0 1em rgba(2, 183, 255, 0.842), 0 0 0.2em rgb(0, 217, 255);
font-size: x-large;
display: inline-block; 
color: white;
}
header h1{
    font-size: xx-large;
    border: 0px 0px 0px 0px;
    border-color: rgb(255, 103, 235);
    border-style: groove ;
    border-radius: 30px;
background-color: rgb(238, 117, 187);
}

h3{
    color: white;
    text-align: center;
   font-size: large;
    margin:10px 200px 10px 300px ;
    text-shadow: 1px 1px 2px rgba(240, 162, 205, 0.5), 0 0 1em rgba(2, 183, 255, 0.842), 0 0 0.2em rgb(0, 217, 255);
}
.aboutme nav ul li {
    color: darkmagenta;
    font-size: larger;
    padding: 4px ;
    border-color: white;
    border-radius: 30px;
    background-color: rgba(245, 176, 242, 0.7);
    border: 10px 100px 10px 100px;
    margin:10px 100px 10px 100px ;
 border-style: double;
display: ruby-base;
}
.topten nav ol li{
    padding: 4px ;
    margin:10px 100px 5px 100px ;
    text-align: center;
display: list-item;
font-size: larger;
border: 10px 100px 10px 100px;
border-style: double;
color: white;
border-color: rgb(189, 33, 189);
background-color:rgba(214, 31, 214, 0.582) ;
border-style: ridge;
border-radius: 15px;
}
footer{
    margin:10px 100px 5px 100px ; 
    font-size: large;
    text-shadow: 1px 1px 2px rgba(248, 7, 139, 0.5), 0 0 1em rgb(226, 123, 154)0 0 0.2em rgb(226, 123, 154);
    background-color :rgba(248, 7, 139, 0.5) ;
    color: white;
    border-color: rgb(255, 103, 235);
    border: 10px 100px 10px 100px;
    border-style: groove ;
    border-radius: 30px;

   
   
}